[submodule "src/common/thirdparty/imgui"]
	path = src/common/thirdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "destoer-lib"]
	path = destoer-lib
	url = https://github.com/destoer/destoer-lib.git
