Release/
Debug/
build/
RelWithDebInfo/
.vs/
.vscode/
mooneye-gb_hwtests/
CMakeFiles/
backups/
roms/
x64/
destoer-emu_autogen/
destoer-emu.dir/
CmakeCache.txt
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
destoer-emu.vcxproj.filters
destoer-emu.vcxproj
destoer-emu.sln
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj
cmake_install.cmake
Makefile
GBA.BIOS
gbc_bios.bin
dmg_bios.bin
gba_bios.bin
emu.log
converted.gb
ALL_BUILD.vcxproj.user
converted.sav
destoer-emu.vcxproj.user
destoer-emu
vgcore.*
build.ninja
.ninja_deps
.ninja_log
gen_mips_lut